includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#Parameter \#1 \$uri of static method League\\Uri\\Resolver::resolve\(\) expects League\\Uri\\Uri\|Psr\\Http\\Message\\UriInterface, string given\.#'
        - '#Parameter \#2 \$base_uri of static method League\\Uri\\Resolver::resolve\(\) expects League\\Uri\\Uri\|Psr\\Http\\Message\\UriInterface, string given\.#'
        - '#Parameter \#1 \$uri of static method League\\Uri\\Relativizer::relativize\(\) expects League\\Uri\\Uri\|Psr\\Http\\Message\\UriInterface, string given\.#'
        - '#Parameter \#2 \$base_uri of static method League\\Uri\\Relativizer::relativize\(\) expects League\\Uri\\Uri\|Psr\\Http\\Message\\UriInterface, string given\.#'
        - '#Parameter \#1 \$port of method League\\Uri\\Uri::withPort\(\) expects int\|null, string given\.#'
        - '#Parameter \#1 \$path of method League\\Uri\\Uri::withPath\(\) expects string, DateTime\|false given\.#'
        - '#Parameter \#[\d]+ \$[A-Za-z0-9]+ of static method PHPUnit\\Framework\\Assert::assertJsonStringEqualsJsonString\(\) expects string, string\|false given\.#'
        - '#Parameter \#1 \$fragment of method League\\Uri\\Http::withFragment\(\) expects string, array given\.#'
    reportUnmatchedIgnoredErrors: false
