includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Method League\\Uri\\Factory::getUriObject\(\) should return League\\Uri\\UriInterface\|Psr\\Http\\Message\\UriInterface but returns object\.#'

